<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
  .system-link {
        margin-bottom: 16px;
        background-color: var(--orange);
        color: var(--white);
        border-style: none;
        text-align: center;
        cursor: pointer;
        padding: 8px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
	
.site-footer{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;

background-size: auto;
border-bottom-color: rgb(29, 31, 34);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(29, 31, 34);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(29, 31, 34);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(29, 31, 34);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgb(128, 128, 128) 0px -10px 10px -10px;
color: rgb(29, 31, 34);
display: block;
font-family: Roboto, serif;
font-size: 16px;
height: 221px;
margin-bottom: 0px;
margin-left: 16px;
margin-right: 16px;
margin-top: 80px;
padding-bottom: 80px;
position: relative;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
</style>

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h6>About AVON</h6>
             <ul class="footer-links">
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">WATCH Me Now</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Shopping</h6>
            <ul class="footer-links">
              <li><a href="#">Returns Guarantee</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Voucher</a></li>
             
            </ul>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Quick Links</h6>
            <ul class="footer-links">
             <li><a href="#">Contribute</a></li>
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">MicroFrontEnd</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <p>Help</p>
          </div>
		   <div class="col-md-4 col-sm-6 col-xs-12">
            <p><? <p>TERMS and Conditions</p>
          </div>
		  
        </div>
      </div>
</footer>